body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #4e4e4e;
}

.logar{
    padding: 20px 30px;
    width: 250px;
    position: absolute;
    top: 130px;
    right: 100px;
    background-color: #333;
    border-radius: 30px;
}

.logar label {
    color: black;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.logar input {
    font-size: 16px;
    padding: 13px 25px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.logar input[type="submit"]{
    background-color: #191919;
    color: aliceblue; 
    border: none; 
    padding: 10px 50px; 
    text-align: center; 
    text-decoration: none; 
    display: block; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 13px;
    margin: auto;
    margin-bottom: 10px;
}

.logar a {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

.senha {
    position: relative;
    right: -50px;
}

.logar img {
    position: relative;
    right: -25px;
}