body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #191919;
}

/* Começo de tudo navs e centralização */

.grls {
    position: relative;
    top: 120px;
}

.imgfundo {
    background-image: url(../img/liii.jpg);
}

.comeco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.comeco .row {
    background-color: #7e7e7e;
    list-style-type: none;
    font-size: 18px;
    display: inline-flex;
    width: 71.5%;
    margin-top: 20px;
    border-radius: 10px;
}

.comeco .col {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    width: 100%;
}

.comeco .nav-com a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    margin-left: 63px;
    text-decoration: none;
}

#conteudo-tudo,
#conteudo-capturas,
#conteudo-videos,
#conteudo-dicas {
    background-color: #cecece;
    padding: 10px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Final dessa parte */


/*Parte do começo onde ta a img o nome jogo e a desc do jogo */
.cnt-post {
    display: flex;
    justify-content: space-between;
}

.esquerdaimg img {
    max-width: 400px;
    width: 400px;
    max-height: 250px;
    height: 250px;
    padding: 10px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.direitatexto {
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 750px;
}

.direitatexto p,
.direitatexto h2,
.direitatexto h3 {
    margin-left: 20px;
}


/* Final da parte da desc do jogo da img e do nome jogo */

/* Dicas css */
.lados {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    align-items: center;
}

.navsa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contdic {
    display: flex;
    align-items: center;
}


.cima,
.baixo {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.baixo {
    margin-bottom: 10px;
}

.cima {
    margin-top: 10px;
}

.baixo li {
    display: none;
}

.cima li,
.baixo li {
    margin-right: 15px;
}

.cima li {
    margin-bottom: 30px;
}

.cima li a,
.baixo li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.cima li a:hover,
.baixo li a:hover {
    background-color: #fff;
    color: #333;
}

#mostrar-mais,
#ocultar-mais {
    display: block;
    cursor: pointer;
    color: blue;
    margin-top: 10px;
}

#adicional_dicas {
    margin-top: 10px;
}

#adicional_dicas a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
}

#adicional_dicas a:hover {
    background-color: #fff;
    color: #333;
}




/* posts do Dicas */

.dicas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.dicaspost {
    width: 90%;
    background-color: #333;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10 auto;
}

.posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infpostador {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cruddicas {
    display: flex;
    justify-content: ;
    align-items: center;
}

.postadorname {
    font-size: 20px;
    font-weight: bold;
}

.imgpostador {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-right: 10px;
    border: 1px solid black;
}

.cruddicas img {
    width: 20px;
    width: 20px;
    margin-right: 10px;
}

.conteudo {
    background-color: #7e7e7e;
    margin-top: 10px;
    border-radius: 10px;
}

.nome_dica {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
}

.assunto-dica {
    display: flex;
    justify-content: center;
}

.assunto-dica h4 {
    display: flex;
    justify-content: center;
    background-color: #333333;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 10px;
}