body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #191919;
}

/* Começo de tudo navs e centralização */

.grls {
    position: relative;
    top: 120px;
}

.imgfundo {
    background-image: url(../img/liii.jpg);
}

.comeco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.comeco .row {
    background-color: #7e7e7e;
    list-style-type: none;
    font-size: 18px;
    display: inline-flex;
    width: 71.5%;
    margin-top: 20px;
    border-radius: 10px;
}

.comeco .col {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    width: 100%;
}

.comeco .nav-com a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    margin-left: 63px;
    text-decoration: none;
}

#conteudo-tudo,
#conteudo-capturas,
#conteudo-videos,
#conteudo-dicas {
    background-color: #cecece;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Final dessa parte */


/*Parte do começo onde ta a img o nome jogo e a desc do jogo */
.cnt-post {
    display: flex;
    justify-content: space-between;
}

.esquerdaimg img {
    max-width: 400px;
    width: 400px;
    max-height: 250px;
    height: 250px;
    padding: 10px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.direitatexto {
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 750px;
}

.direitatexto p,
.direitatexto h2,
.direitatexto h3 {
    margin-left: 20px;
}


/* Final da parte da desc do jogo da img e do nome jogo */

/*nav dos posts*/
.lados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.navsa {
    display: flex;
    flex-direction: column;
}

.contdic {
    display: flex;
    align-items: center;
}


.cima,
.baixo {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.baixo {
    margin-bottom: 10px;
}

.cima {
    margin-top: 10px;
}

.baixo li {
    display: none;
}

.cima li,
.baixo li {
    margin-right: 15px;
}

.cima li {
    margin-bottom: 30px;
}

.cima li a,
.baixo li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #3e3e3e;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: background-color 0.9s, color 0.9s;
}

.cima li a:hover,
.baixo li a:hover {
    background-color: #888888;
    color: #333;
}

#adicional_dicas,
#adicional_foto,
#adicional_video {
    margin-top: 10px;
}

#adicional_dicas a,
#adicional_foto a,
#adicional_video a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-color: #3e3e3e;
    border-radius: 5px;
    transition: background-color 0.9s, color 0.9s;
}

#adicional_dicas a:hover {
    background-color: #888888;
    color: #333;
}

#mostrar-mais,
#ocultar-mais {
    display: block;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    padding: 3px 8px;
    margin-top: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.9s, color 0.9s;
}

#ocultar-mais {
    display: none;
}

#mostrar-mais:hover,
#ocultar-mais:hover {
    background-color: #fff;
    color: #333;
}


.direselect {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.capst {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exibir-container {
    display: flex;
    align-items: center;
}

.exibir-container p {
    margin: 0;
    padding: 10px;
}

.opts {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.duv p {
    font-size: 14px;
    color: #888;
    margin-left: 5px;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.duv:hover .tooltip {
    display: block;
}

.nav-coms {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.nav-coms:hover {
    text-decoration: underline;
    color: #1e70bf;
}


/* posts */

.dicas-container,
.cap-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.dicaspost,
.cappost {
    width: 90%;
    background-color: #333;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10 auto;
}

.posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infpostador {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cruddicas,
.crudcaptura {
    display: flex;
    align-items: center;
}

.postadorname {
    font-size: 20px;
    font-weight: bold;
}

.imgpostador {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-right: 10px;
    border: 1px solid black;
}

.cruddicas img,
.crudcaptura img {
    width: 20px;
    width: 20px;
    margin-right: 10px;
}

.conteudo {
    background-color: #7e7e7e;
    margin-top: 10px;
    border-radius: 10px;
}

.conteudo-foto {
    height: 220px;
    background-color: #7e7e7e;
    margin-top: 10px;
    border-radius: 10px;
}

.nome_dica {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
}

.assunto-captura {
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
    margin: 0 auto;
}

.assunto-captura img {
    width: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.nome_dica h3,
.nome_video,
.nome_captura {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12ch;
}

.assunto-dica {
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto;
    white-space: pre-line;
    max-width: 32ch;
    height: 10em;
    max-height: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.formdovideo,
.formdodica,
.formdocaptura {
    text-align: center;
}

.formdovideo form
.formdodica form,
.formdocaptura form {
    display: inline-block;
}

.formdovideo button,
.formdodica button,
.formdocaptura button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c6c6c6; /* Cor de fundo verde, pode ser alterada */
    color: #fff; /* Cor do texto branco, pode ser alterada */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formdovideo button:hover,
.formdodica button:hover,
.formdocaptura button:hover {
    background-color: #3d3d3d; /* Cor de fundo verde escuro no hover, pode ser alterada */
}


/* telas de registro */

#adicional_dicas a.nav-coms,
#adicional_foto a.nav-coms,
#adicional_video a.nav-coms {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.9s, color 0.9s;
}

#adicional_dicas a.nav-coms:hover,
#adicional_foto a.nav-coms:hover,
#adicional_video a.nav-coms:hover {
    background-color: #fff;
    color: #333;
}

#modal-dica,
#modal-foto,
#modal-video {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#fechar-modal-dica,
#fechar-modal-foto,
#fechar-modal-video,
#fechar-modal-assunto-dica {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#modal-dica h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.adc_nome h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.catsubjg labeL {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.catsubjg select,
.titassuntos input[type="text"],
.titassuntos textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.textadc {
    resize: vertical;
}

#modal-dica {
    animation: fadeIn 0.5s ease-out;
}

#modal-assunto-dica {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
}

#modal-assunto-dica h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#modal-assunto-dica p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#modal-assunto-dica span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}